body {
}
.font {
    font-family: NanumSquare_ac;
    font-size: 15pt;
    line-height: 1.5;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
}

.float {
    display: inline;
    margin: 5px;
    float: left;
}

.calendar {
    border-bottom: DodgerBlue solid 2px;
    font-family: NanumSquare_ac;
    font-size: 15pt;
    text-decoration: none;
}

.lnkBtn {
    color: white;
    font-family: NanumSquare_ac;
    font-size: 15pt;
    text-decoration: none;
}

