<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <machineKey decryption="AES" decryptionKey="EF75180AF9EB50B16E80E2853CD7B235F458983D1A7CC673" validationKey="17ADC68D75EA042BAFAB2E0BD006E1EFF474435FD9DDCE142A51E2C5D81BBF23A1A319B1F0A7C133BEA948911D1AB385EF477189206BC3D62BD7D62660317D87" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Main.aspx" />
    </authentication>
    <!--authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization-->
  </system.web>
    <connectionStrings>
        <add connectionString="Server=LAPTOP-EAQ34G6M;Database=SNC;User ID=sa;Password=3840" name="SNC" />
    </connectionStrings>
</configuration>
